@import '../styles/variables';

.likes__container {
  color: $secondary;
  font-size: $size-regular;
  display: flex;
  align-items: center;

  &.liked {
    color: $primary;
  }

  .icon__wrapper {
    margin-right: 2px;
    font-size: $size-medium;

    &.logged:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}
