@import '../styles/variables';

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.9);

  @media screen and (min-width: 1280px) {
    padding-top: 80px;
    padding-bottom: 150px;
  }

  > article {
    background-color: $white;
    min-height: 100%;
    overflow: hidden;

    @media screen and (min-width: 1280px) {
      border-radius: $border-radius;
    }
  }
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}
