@import '../styles/variables';

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1280px) {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
  }

  .modal__close {
    font-size: 3rem;
    color: $secondary;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    @media screen and (min-width: 1280px) {
      font-size: 3.5rem;
    }
  }

  .modal__box {
    background-color: $white;
    min-height: 100%;
    overflow: hidden;
    border-radius: $border-radius;

    @media screen and (min-width: 1280px) {
      min-height: auto;
    }
  }
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}
