* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: $text;
  color: $black;
  font-size: $size-regular;
  font-weight: $weight-regular;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-family: $heading;
  font-weight: $weight-extraBold;
  font-size: 1.6rem;
}

h2 {
  font-family: $heading;
  font-weight: $weight-medium;
  font-size: 1.3rem;
}

h3 {
  font-family: $heading;
  font-weight: $weight-medium;
  font-size: 1.2rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0;
}

::placeholder {
  color: inherit;
}
