/*** Fonts ***/

$heading: 'Playfair Display', serif;
$text: 'Open Sans', sans-serif;

/*** Colors ***/

$primary: #B18E5E;
$secondary: #AFAFAF;
$black: #222;
$white: #fff;

/*** Font-Weights ***/

$light: 300;
$medium: 500;
$semiBold: 600;
$extraBold: 800;

/*** Font-Sizes ***/

$small: 0.6rem;
$regular: 0.8rem;
$large: 1.2rem;

/*** Element Styles ***/

$border-radius: 10px;
