/*** Fonts ***/

$heading: 'Playfair Display', serif;
$text: 'Open Sans', sans-serif;

/*** Colors ***/

$primary: #ff9900;
$secondary: #999999;
$black: #222;
$white: #fff;

/*** Font-Weights ***/

$weight-regular: 400;
$weight-medium: 500;
$weight-semiBold: 600;
$weight-extraBold: 800;

/*** Font-Sizes ***/

$size-small: 0.6rem;
$size-regular: 0.8rem;
$size-medium: 0.9rem;

/*** Element Styles ***/

$border-radius: 5px;
$h-spacing: 40px;
