@import './styles/variables';

$profil-diameter: 35px;
$arrow-width: 8px;

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 20px $h-spacing 0 $h-spacing;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;

  .logo__wrapper {
    flex: 0 0 auto;

    .logo {
      font-family: $heading;
      font-weight: $weight-extraBold;
      color: $black;
      font-size: 2rem;
    }
  }

  ul.nav__container {
    color: $secondary;
    font-size: $size-medium;
    margin: 0;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    li {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 0;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: darken($secondary, 20%);
      }
    }

    .profil {
      position: relative;

      &:hover {
        .profil__dropdown {
          display: block;
        }
      }

      .profil__image {
        width: $profil-diameter;
        height: $profil-diameter;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        background-color: $empty;
      }

      .profil__dropdown {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        z-index: 999;
        background-color: $white;
        width: 200px;
        border: 1px solid $empty;
        border-radius: $border-radius;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        display: none;

        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          width: 0;
          height: 0;
          border-left: $arrow-width solid transparent;
          border-right: $arrow-width solid transparent;
          border-bottom: $arrow-width solid $empty;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: calc(100% - 1px);
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          width: 0;
          height: 0;
          border-left: $arrow-width solid transparent;
          border-right: $arrow-width solid transparent;
          border-bottom: $arrow-width solid $white;
        }

        p {
          font-weight: $weight-semiBold;
          color: $black;
          margin: 0;
          padding: 15px;
        }

        hr {
          border: none;
          height: 1px;
          background-color: $empty;
          margin: 0;
        }

        li {
          &.delete__anchor {
            color: $delete;

            &:hover {
              color: darken($delete, 10%);
            }
          }

          display: block;
          padding: 0;

          a {
            display: block;
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

main {
  flex: 1 1 auto;
}

footer {
  padding: 15px $h-spacing;
  font-size: $size-small;
  margin-top: 20px;
}
