@import './styles/variables';

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 20px $h-spacing 0 $h-spacing;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;

  .logo__wrapper {
    flex: 0 0 auto;

    .logo {
      font-family: $heading;
      font-weight: $weight-extraBold;
      color: $black;
      font-size: 2rem;
    }
  }

  ul.nav__container {
    color: $secondary;
    font-size: $size-medium;
    margin: 0;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    li {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 0;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: darken($secondary, 20%)
      }
    }
  }
}

main {
  flex: 1 1 auto;
}

footer {
  padding: 15px $h-spacing;
  font-size: $size-small;
  margin-top: 20px;
}
